<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Index Page</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
		<div class="card">
			<div class="card card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Created Date</th>
							<th>Name</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="post:${posts}">
							<td th:text="${post.CreatedDate}"></td>
							<td th:text="${post.Name}"></td>
							<td th:text="${post.Description}"></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>
</body>
</html>